.side-menu{
    display: flex;
    flex-grow: 1;

    box-sizing: border-box;
    flex-direction: column;

    position: relative;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 0;
    padding: 14px;

    width: 252px;
    height: calc(100vh - 56px);

    background-color: transparent;
}

.side-menu .side-menu__group{
    display: flex;
    flex-grow: 0;

    box-sizing: border-box;
    flex-direction: column;

    width: 100%;
}

.side-menu .projects-group{
    flex-grow: 1;
}

.side-menu .side-menu__item{
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-height: 42px;
    padding: 0 7px;

    border-radius: 14px;
    cursor: pointer;

    background-color: transparent;
}

.side-menu .side-menu__item-link-container{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;
    
    width: 100%;
    height: 100%;
    
    background-color: transparent;
}

.side-menu a{
    width: 100%;
    height: 100%;
}

.side-menu .side-menu__group-title text{
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 7px;
    padding-right: 0;
}

.side-menu .side-menu__item:hover{
    background-color: #b6d4fe;
}

.side-menu__item text{
    padding: 0 7px;
}

.side-menu ul, li{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.side-menu .icon-button:hover{
    background-color: transparent;
}

.side-menu .side-menu__separator{
    border: none;
    border-top: 1px solid #565656;
    width: 100%;
    margin: 14px auto;
}

.side-menu .item-short-name{
    display: flex;

    align-items: center;
    justify-content: center;

    width: 42px;
    height: 32px;
    margin: 0 5px;

    border: 1px solid #565656;
    border-radius: 7px;

    background-color: transparent;
}

.item-short-name text{
    font-size: 0.9em;
}

.side-menu .side-menu__footer{
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 28px;

    background-color: transparent;

    font-size: 0.8rem;
    color: #565656;
}