@model BivrostWeb.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasProjects = false;
}

<div class="content-title">
    Organization Name
</div>

<div class="table-container">
    <div class="table-container__header">
        <text class="header-title">Projects</text>
        <a class="header-button">Add new project</a>
        <a class="header-button">Manage projects</a>
    </div>
    <div class="table-container__search">
        <button class="icon-container">
            <span class="material-icons">search</span>
        </button>
        <input class="search-input" placeholder="Search for projects"/>
    </div>
    <div class="projects-table">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Sessions</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{
                hasProjects = false;
                    
                foreach (Project project in Model.Projects)
                {
                    hasProjects = true;  
    
                    <tr class="main-row">
                        <td>@project.Name</td>
                        <td>@project.Sessions.Count</td>
                        <td>
                            @* <a id="sessionLink" asp-action="Project" asp-controller="Project" asp-route-projectId="@project.Id"> *@
                            @*     <button class="table-more-option">Enter</button> *@
                            @* </a> *@
                        </td>
                    </tr>
                }
                    
                if (!hasProjects)
                {
                    <tr style="height: 112px;">
                        <td class="centered-table-element" colspan="6" style="text-align: center;">No sessions found, please try again!</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>