.content{
    padding: 28px;
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: var(--width-side-menu);
    flex-direction: column;
    background-color: var(--color-background);
}

.block {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    background: #ffffff;
    padding: 28px;
    margin-bottom: 28px;
    transition: all 0.3s ease-in-out;
}

.block-fullscreen {
    position: fixed;
    top: 28px;
    left: 28px + var(--width-side-menu);
    width: calc(100% - 56px - var(--width-side-menu));
    height: calc(100% - 56px);
    margin: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.project-menu-panel {
    width:100%;
    height: 42px;
    margin-bottom: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-full-name {
    width: auto;
    display: flex;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    background-color: transparent;
    height: inherit;
}

.project-menu-text{
    font-size: 14px;
    font-weight: 500;
    font-family: Inter;
    text-decoration: none;
    color: #999999;
    text-transform: uppercase;
}

.project-menu-text a{
    font-size: 14px;
    font-weight: 500;
    font-family: Inter;
    text-decoration: none;
    color: #999999;
    text-transform: uppercase;
}

.project-menu-text .current-location{
    font-size: 14px;
    font-weight: 500;
    font-family: Inter;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-text);
}

.project-menu-button {
    background: transparent;
    width: auto;
    padding: 0;
    margin: 0 7px 0 7px;
    height: inherit;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: Inter;
    color: #444444;
    text-decoration: none;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-menu-button:hover {
    color: var(--color-unique);
}

.active-menu-button {
    color: var(--color-unique);
}

.block {
    box-shadow: 0px 0 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    background: #ffffff;
    padding: 28px;
}

.block-name {
    font-size: 16px;
    font-weight: 600;
    font-family: Inter;
    color: #444444;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.block-top {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    align-items: center;
    margin-bottom: 28px;
}

.block-option-button {
    width: 28px;
    height: 28px;
    background: #EEEEEE;
    border: 0;
    border-radius: 7px;
    color: #F16436;
    margin-left: 14px;
}

table {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
}

thead {
    height: 42px;
}

tbody {}

tbody tr {
    height: 56px;
    border: 0px;
    border-bottom: 1px solid #DDDDDD;
}

th {
    background: #EEEEEE;
    font-size: 12px;
    font-weight: 600;
    font-family: Inter;
    color: #444444;
    padding: 0 14px 0 14px;
}

td {
    font-size: 12px;
    font-weight: 400;
    font-family: Inter;
    color: #444444;
    padding-left: 14px;
}

.centered-table-element {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
}

.regular-column {
    width: 224px;
}

.table-more-option {
    padding: 7px;
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 0px;
    font-size: 12px;
    flex-grow: 0;
}

.project-status{
    display: flex;

    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 28px;
    
    font-size: 0.9rem;
    font-weight: 500;
    
    width: 112px;
    height: 28px;
}

.project-status-active {    
    width: 96px;
    
    color: #093303;
    background-color: #C8F2C2;
}

.project-status-finished {
    width: 96px;
    
    color: #333333;
    background-color: #F2F2F2;
}

.project-status-connected {
    color: #093303;
    background-color: #C8F2C2;
}

.project-status-disconnected {
    color: #330803;
    background-color: #F2C7C2;
}


.create-button {
    width: 168px;
    height: 40px;
    background: transparent;
    border: 1px solid #AAAAAA;
}

.back-button {
    width:42px;
    height:42px;
    background: transparent;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    flex-grow: 0;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-text);
}

.settings-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.settings-panel{
    width: 60%;
    text-align: center;
}

.one-line-settings-button-panel{
    display: flex;
    flex-direction: row;
    height: 42px;
    align-items: center;
    margin-bottom: 14px;
}

.one-line-settings-button-panel:last-child{
    margin-bottom: 0;
}

.one-line-settings-button-text-left{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    font-family: Inter;
}

.one-line-settings-button-text-right{
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    text-align: right;
    justify-content: right;
    justify-self: right;
    font-size: 12px;
    font-weight: 400;
    font-family: Inter;
}

.initials-icon {
    width: 28px;
    height: 28px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

.delete-button{
    width: 168px;
    height: 40px;
    background: var(--color-delete-button);
    border: 1px solid #AAAAAA;
    color: var(--color-background-block);
}

.settings-role-button{
    width: 168px;
    height: 42px;
    border: 1px solid var(--color-separator);
    background-color: transparent;
    text-align: center;
    justify-content: right;
}

.invite-user-input{
    display: flex;
    flex-grow: 1;
    width: auto;
    height: 100%;
    border: 1px solid var(--color-separator);
    margin-right: 28px;
}

.invite-user-input::placeholder {
    padding-left: 14px;
}

.submit-button{
    width: 168px;
    height: 40px;
    background: var(--color-unique);
    border: 1px solid #AAAAAA;
    color: var(--color-background-block);
}