.side-projects-menu{
    background-color: var(--color-side-menu);
    width: var(--width-side-menu);
    z-index: 10;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.side-projects-menu .project-button{
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: 1px solid var(--color-separator);
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 14px;
}

.side-projects-menu .project-button:first-child{
    margin-top: 14px;
}

.side-projects-menu .project-button:last-child{
    margin-bottom: 0px;
}

.side-projects-menu .project-button:hover{
    border: 1px solid var(--color-unique);
    background-color: var(--color-unique);
    color: #FFFFFF
}

.side-projects-menu .user-button{
    width: 42px;
    height: 42px;
    background-color: var(--color-unique);
    color: var(--color-side-menu);
    border: 1px solid var(--color-separator);
    border-radius: 100%;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 14px;
    align-self: flex-end;
}

.side-menu-space-div{
    flex-grow: 1;
}