.side-projects-menu{
    background-color: var(--color-side-menu);
    width: var(--width-side-menu);
    z-index: 10;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.14);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.side-projects-menu .project-button{
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: 1px solid var(--color-separator);
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 28px;
}

.side-projects-menu .project-button:first-child{
    margin-top: 7px;
}

.side-projects-menu .project-button:last-child{
    margin-bottom: 0;
}

.side-projects-menu .project-button:hover{
    border: 1px solid var(--color-unique);
    background-color: var(--color-unique);
    color: #FFFFFF
}