:root{
    --color-table-head-text: #aaaaaa;
    --color-table-body-text: #ffffff;
    --color-table-body-tr-hover: #242424;
}

.tableList{
    width: 100%;
    border-collapse: collapse;
}

.tableList table{
    width: 100%;
    border-collapse: collapse;
}

.tableList thead{
    border-bottom: 1px solid var(--color-separator);
    border-top: 1px solid var(--color-separator);
    height: 40px;
    color: var(--color-table-head-text);
    font-size: 12px;
    font-weight: 800;
}

.tableList tbody{
    color: var(--color-table-body-text);
    align-items: flex-start;
    font-size: 12px;
    font-weight: 400;
}

.tableList tbody tr{
    height: 56px;
}

.tableList tbody tr:hover{
    background-color: var(--color-table-body-tr-hover);
}

.tableList .center-element{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.tableList .left-element{
    justify-content: center;
    text-align: left;
    align-items: center;
    padding-left: 14px;
}

.tableList .empty-th{
    width: 56px;
}

.tableList .empty-td{
    width: 56px;
}

.tableList .regular-cell{
    width: 140px;
}

.tableList .big-cell{
    width: 196px;
}

.tableList .actions-button{
    width: 94px;
    height: 31px;
    background-color: var(--color-background-default);
    border: 1px solid var(--color-separator);
    font-size: 12px;
    text-underline: none;
    font-weight: 600;
    color: var(--color-text);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.tableList .actions-button:hover{
    background-color: var(--color-background-second);
}

.tableList a{
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    text-underline: none;
    display: flex;
    font-weight: 600;
    color: var(--color-text);
}