@model AccountSignUpViewModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="signUp-page">
    <div class="modal-content modalPanel">
        <div class="modalHeader">
            <label class="modalTitle">Sign Up</label>
            <label class="modalTitleDescription" id="modalTitleDescription">Please enter your details.</label>
        </div>
        <form method="post" asp-action="LogIn">
            <div class="modalBody">
                <div class="modalBodyContentBlock">
                    <label asp-for="Email"></label>
                    <input type="text" asp-for="Email" placeholder="Enter email" class="form-control" autocomplete="off"/>
                </div>
                <div class="modalBodyContentBlock">
                    <label asp-for="Username"></label>
                    <input type="text" asp-for="Username" placeholder="Enter username" class="form-control" autocomplete="off"/>
                </div>
                <div class="modalBodyContentBlock">
                    <label asp-for="Password"></label>
                    <input type="text" asp-for="Password" placeholder="Enter password" class="form-control" autocomplete="off"/>
                </div>
                <div class="modalBodyContentBlock">
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input type="text" asp-for="ConfirmPassword" placeholder="Confirm password" class="form-control" autocomplete="off"/>
                </div>
            </div>
            <div class="modalFooter">
                <a asp-action="SignUp">
                    <div type="button" class="footerButton cancelButton">Sign Up</div>
                </a>
                <div class="form-group">
                    <input type="submit" value="Log In" class="footerButton continueButton"/>
                </div>
            </div>
        </form>
    </div>
</div>
