.session-panel{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    background-color: transparent;
}

.session-panel .control-panel{
    display: flex;
    flex-direction: column;

    width: 560px;

    margin-right: 14px;

    background-color: transparent;
}

.session-panel .content-panel{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: transparent;
}

.session-panel .projects-table thead th:nth-child(1) {
    width: 56px;
}

.session-panel .projects-table tbody td:nth-child(1) {
    opacity: 0;
}