@model IEnumerable<Project>

@if (Model == null)
{
    <p>The model is null.</p>
}
else
{
    <div class="side-menu">
        <div class="menu-icon"></div>
        @foreach (var project in Model)
        {
            <button class="project-button" data-project-id="@project.Id" data-fullname="@project.FullName">@project.ShortName</button>
        }
        <button class="add-project-button">+</button>
        <a class="user-button" asp-action="Logout" asp-controller="Account">VH</a>
    </div>
    
    // Hidden Menu Panel
    <div class="hidden-menu" id="projectInfoPanel" style="display: none;">
        <div class="project-name">
            <text id="projectName">Project Name</text>
        </div>
        <a id="projectLink" asp-action="Index" asp-controller="Project" asp-route-projectID="">
            <div class="menu-item">Sessions</div>
        </a>
        <a asp-action="" asp-controller="">
            <div class="menu-item">Analytics</div>
        </a>
        <a asp-action="" asp-controller="">
            <div class="menu-item">Settings</div>
        </a>
    </div>
    
    // Scripts
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}