@model BivrostWeb.Models.ViewModels.SideMenuViewModel

<div class="side-projects-menu">
    @foreach (Project project in Model.Projects)
    {
        <a asp-controller="Project" asp-action="Project" asp-route-projectId="@project.Id" asp-route-projectName="@project.Name">
            <button class="project-button">@project.ShortName</button>
        </a>
    }
    <div class="side-menu-space-div"></div>
    <a style="color: #ffffff">
        <form asp-controller="Account" asp-action="Logout">
            <button class="user-button" style="background-color: @Model.AccountColor">Q</button>
        </form>
    </a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // JavaScript to handle button click event and show modal
    document.getElementById('createProjectButton').addEventListener('click', function () {
        $('#createProjectPanel').modal('show');
    });
    document.getElementById('cancelButton').addEventListener('click', function () {
        $('#createProjectPanel').modal('hide');
    });
</script>