.select-segment{
    padding-left: 56px;
    padding-right: 56px;
    height: 42px;
    margin-bottom: 14px;
    margin-top: 14px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.select-segment .segment-button{
    background-color: transparent;
    border: 0;
    color: var(--color-text);
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
    font-weight: 600;
    height: 31px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.select-segment .active-underline{
    border-bottom: 2px solid var(--color-unique);
}

.active-colored-button{
    background-color: var(--color-unique);
    border: 0;
    border-radius: 5px;
    color: var(--color-text);
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
    width: 112px;
    height: 31px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}