:root{
    --color-session-status-active: #37ED33;
    --color-session-status-finished: #AAAAAA;
}

.project-page {
    width: 100%;
    height: fit-content;
    background-color: var(--color-background-second);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.session-status-active{
    color: var(--color-session-status-active);
}

.session-status-finished{
    color: var(--color-session-status-finished);
}