@model BivrostWeb.Models.ViewModels.HeaderViewModel

<div class="header-block left">
    <button class="icon-button">
        <span class="material-icons">
        menu
        </span>
    </button> <!-- Icon: Arrow Clockwise -->
</div>

<div class="header-block center">
    <div class="title-name">
        BIVROST
    </div>
</div>

<div class="header-block right">
    <button class="icon-button">
        <span class="material-icons">
            notifications_active
        </span>
    </button>
    
    <button class="icon-button">
        <span class="material-icons">
            help_outline
        </span>
    </button>
    
    <button class="icon-button">
        <div class="icon-button__user-account" style="background-color: @Model.AccountColor">
            <a asp-controller="Account" asp-action="LogOut">V</a>
        </div>
    </button>
</div>