@model BivrostWeb.Models.ViewModels.ProjectViewModel

<div class="content-title">
    @Model.Project.FullName
</div>
<div class="project-menu">
    <ul>
        <li>Project</li>
        <li>Analytics</li>
        <li>Settings</li>
    </ul>
</div>