@model BivrostWeb.Models.ViewModels.AccountLoginViewModel

@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="login-panel">
    <div class="authorization-panel">
        <div class="authorization-panel__title">Welcome</div>
        <form method="post" asp-controller="Account" asp-action="LogIn">
            <div class="authorization-panel__body">
                <input type="text" asp-for="Email" placeholder="Enter email" class="input-form" autocomplete="off"/>
                <input type="password" asp-for="Password" placeholder="Enter password" class="input-form" autocomplete="off"/>
                <div class="input-options">
                    <a>Forgot Password?</a>
                    <a>Show Password</a>
                </div>
                <input type="submit" value="Log In" class="confirm-button"/>
                <span class="text-danger">@TempData["errorUsername"]</span>
                <span class="text-danger">@TempData["errorPassword"]</span>
            </div>
        </form>
    </div>
    <div class="">
        <a>Forgot Password?</a>
        <a>Show Password</a>
    </div>
</div>
