@model BivrostWeb.Models.ViewModels.AccountLoginViewModel

@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_Layout_Authorization.cshtml";
}

<div class="login-panel">
    <div class="authorization-panel">
        <div class="panel-block authorization__title">BIVROST</div>
        <div class="panel-block authorization__header">Log in to continue</div>
        <form method="post" asp-controller="Account" asp-action="LogIn">
            <span class="text-danger">@TempData["errorUsername"]</span>
            <input type="text" asp-for="Email" placeholder="Enter email" autocomplete="off"/>
            <span class="text-danger">@TempData["errorPassword"]</span>
            <input type="password" asp-for="Password" placeholder="Enter password" autocomplete="off"/>
            <input class="panel-block submit-button" type="submit" value="Log In"/>
            <div class="panel-block input-options">
                <a>Forgot Password?</a>
                @* <a>Show Password</a> *@
            </div>
        </form>
        <div class="panel-block authorization__separator">
            <hr/>
            OR
            <hr/>
        </div>
        <div class="panel-block other-option">Continue with Google</div>
        <div class="panel-block authorization__footer">Don't have an account? &nbsp<a asp-controller="Account" asp-action="SignUp" style="color: var(--color__link)">Sign Up</a></div>
    </div>
</div>
