@model BivrostWeb.Models.ViewModels.AccountSignUpViewModel

@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_Layout_Authorization.cshtml";
}

<div class="signup-panel">
    <div class="authorization-panel">
        <div class="panel-block authorization__title">BIVROST</div>
        <div class="panel-block authorization__header">Sign up to continue</div>
        <form method="post" asp-controller="Account" asp-action="SignUp">
            <span class="text-danger">@TempData["errorUsername"]</span>
            <input type="text" asp-for="Username" placeholder="Enter name" autocomplete="off"/>
            <span class="text-danger">@TempData["errorUsername"]</span>
            <input type="text" asp-for="Email" placeholder="Enter email" autocomplete="off"/>
            <span class="text-danger">@TempData["errorPassword"]</span>
            <input type="password" asp-for="Password" placeholder="Enter password" autocomplete="off"/>
            <input type="password" asp-for="ConfirmPassword" placeholder="Confirm password" autocomplete="off"/>
            <input class="panel-block submit-button" type="submit" value="Sign Up"/>
            @* <div class="panel-block input-options"> *@
            @*     <a>Forgot Password?</a> *@
            @*     $1$ <a>Show Password</a> #1# *@
            @* </div> *@
        </form>
        <div class="panel-block authorization__separator">
            <hr/>
            OR
            <hr/>
        </div>
        <div class="panel-block other-option">Continue with Google</div>
        <div class="panel-block authorization__footer">Already have an account? &nbsp<a asp-controller="Account" asp-action="LogIn" style="color: var(--color__link)">Log In</a></div>
    </div>
</div>
